pre[class*="language-c"] {
    background: #0b0b0b;
}

pre[class*="language-c"] .Token {
    color: #C1CCCC;
}

pre[class*="language-c"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-c"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-c"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-c"] .Token.HighlightLine,
pre[class*="language-c"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-c"] .Token.VOID,
pre[class*="language-c"] .Token.CHAR,
pre[class*="language-c"] .Token.SHORT,
pre[class*="language-c"] .Token.INT,
pre[class*="language-c"] .Token.LONG,
pre[class*="language-c"] .Token.FLOAT,
pre[class*="language-c"] .Token.DOUBLE,
pre[class*="language-c"] .Token.SIGNED,
pre[class*="language-c"] .Token.UNSIGNED,
pre[class*="language-c"] .Token._BOOL,
pre[class*="language-c"] .Token._COMPLEX,
pre[class*="language-c"] .Token.BOOL,
pre[class*="language-c"] .Token.AUTO,
pre[class*="language-c"] .Token.REGISTER,
pre[class*="language-c"] .Token.STATIC,
pre[class*="language-c"] .Token.EXTERN,
pre[class*="language-c"] .Token.TYPEDEF,
pre[class*="language-c"] .Token.CONST,
pre[class*="language-c"] .Token.VOLATILE,
pre[class*="language-c"] .Token.RESTRICT,
pre[class*="language-c"] .Token._ATOMIC,
pre[class*="language-c"] .Token._STATIC_ASSERT,
pre[class*="language-c"] .Token._GENERIC,
pre[class*="language-c"] .Token.DOUBLE_HASH,
pre[class*="language-c"] .Token.TYPEOF,
pre[class*="language-c"] .Token.GNU_C_Assembly {
    color: #569cd6;
}

pre[class*="language-c"] .Token._ATTRIBUTE,
pre[class*="language-c"] .Token.GNU_C_Assembly._ATTRIBUTE {
    color: #DCDCAA;
}

pre[class*="language-c"] .Token.ID {
    color: #88D6FE;
}

pre[class*="language-c"] .Token.NUMBER {
    color: #A2CEA8;
}


pre[class*="language-c"] .Token.BaseType {
    color: #569cd6;
}


pre[class*="language-c"] .Token.TRUE,
pre[class*="language-c"] .Token.FALSE,
pre[class*="language-c"] .Token.NULL {
    color: #569cd6;
}

pre[class*="language-c"] .Token.STRING,
pre[class*="language-c"] .Token.CHARACTER {
    color: #CE9178;
}

pre[class*="language-c"] .Token.STRING.Format {
    color: #88D6FE;
}

pre[class*="language-c"] .Token.Preprocess,
pre[class*="language-c"] .Token.HASH {
    color: #C586C0;
}

pre[class*="language-c"] .Token.IF,
pre[class*="language-c"] .Token.ELSE,
pre[class*="language-c"] .Token.FOR,
pre[class*="language-c"] .Token.WHILE,
pre[class*="language-c"] .Token.DO,
pre[class*="language-c"] .Token.SWITCH,
pre[class*="language-c"] .Token.CASE,
pre[class*="language-c"] .Token.RETURN,
pre[class*="language-c"] .Token.DEFAULT {
    color: #C586C0;
}


pre[class*="language-c"] .Token.STATIC_ASSERT,
pre[class*="language-c"] .Token.SIZEOF {
    color: #569cd6;
}

pre[class*="language-c"] .Token.HeaderName {
    color: #CE9178;
    border-bottom: 1px solid #CE9178;
}

pre[class*="language-c"] .Token.StorageType,
pre[class*="language-c"] .Token.FunctionType,
pre[class*="language-c"] .Token.QualifyType,
pre[class*="language-c"] .Token.StructureType,
pre[class*="language-c"] .Token.STRUCT,
pre[class*="language-c"] .Token.UNION,
pre[class*="language-c"] .Token.EnumSpecifier {
    color: #569cd6;
}

pre[class*="language-c"] .Token.FunctionName.ID,
pre[class*="language-c"] .Token.FunctionCall.ID {
    color: #DCDCAA;
}

pre[class*="language-c"] .Token.MacroDefine.ID,
pre[class*="language-c"] .Token.MacroDefine.TYPEDEF_ID,
pre[class*="language-c"] .Token.MarcroFunction.ID,
pre[class*="language-c"] .Token.MarcroFunction.TYPEDEF_ID,
pre[class*="language-c"] .Token.BACK_SLASH {
    color: #569cd6;
}

pre[class*="language-c"] .Token.FunctionP.ID {
    color: #88D6FE;
}

pre[class*="language-c"] .Token.JumpStatement {
    color: #C586C0;
}

pre[class*="language-c"] .Token.Enumerator.ID {
    color: #4FC1FF;
}

pre[class*="language-c"] .Token.StructureClass,
pre[class*="language-c"] .Token.EnumID,
pre[class*="language-c"] .Token.Typedefine {
    color: #4EC9B0;
}

pre[class*="language-c"] .Token.LT,
pre[class*="language-c"] .Token.GT,
pre[class*="language-c"] .Token.AMPERSAND,
pre[class*="language-c"] .Token.POINTER {
    color: #D4D4D4;
}

pre[class*="language-c"] .Token.Control {
    color: #D7BA6E;
}

pre[class*="language-c"] .Token.COMMA,
pre[class*="language-c"] .Token.COLON,
pre[class*="language-c"] .Token.DOT,
pre[class*="language-c"] .Token.SEMI,
pre[class*="language-c"] .Token.GotoLabel {
    color: #C1CCCC;
}


pre[class*="language-c"] .Token.COMMENT {
    color: #6A9955;
}

pre[class*="language-c"] .Token.VARARGS {
    color: #C1CCCC;
}
pre[class*="language-css"] {
    background: #0b0b0b;
}

pre[class*="language-css"] .Token {
    color: #C1CCCC;
}

pre[class*="language-css"] .Token.ID {
    color: #CE9178;
}

pre[class*="language-css"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-css"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-css"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-css"] .Token.HighlightLine,
pre[class*="language-css"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-css"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-css"] .Token.KEY {
    color: #88D6FE;
}

pre[class*="language-css"] .Token.CLASS_NAME,
pre[class*="language-css"] .Token.HASH_ID {
    color: #DCDCAA;
}

pre[class*="language-css"] .Token.COMMENT {
    color: #6A9955;
}

pre[class*="language-css"] .Token.FUNCTION {
    color: #DCDCAA;
}

pre[class*="language-css"] .Token.COLOR {
    color: #CE9178;
}

pre[class*="language-css"] .Token.STRING {
    color: #CE9178;
}
pre[class*="language-json"] {
    background: #0b0b0b;
}

pre[class*="language-json"] .Token {
    color: #C1CCCC;
}

pre[class*="language-json"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-json"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-json"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-json"] .Token.HighlightLine,
pre[class*="language-json"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-json"] .Token.Pair.Key {
    color: #88D6FE;
}

pre[class*="language-json"] .Token.COMMA,
pre[class*="language-json"] .Token.COLON {
    color: #C1CCCC;
}

pre[class*="language-json"] .Token.UnaryOp,
pre[class*="language-json"] .Token.Keyword,
pre[class*="language-json"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-json"] .Token.STRING {
    color: #CE9178;
}

pre[class*="language-json"] .Token.COMMENT {
    color: #6A9955;
}
pre[class*="language-json"] .Token.Keyword {
    color: #327ED0;
}
pre[class*="language-python"] {
    background: #0b0b0b;
}

pre[class*="language-python"] .Token {
    color: #C1CCCC;
}

pre[class*="language-python"] .Token.ID {
    color: #88D6FE;
}

pre[class*="language-python"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-python"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-python"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-python"] .Token.HighlightLine,
pre[class*="language-python"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-python"] .Token.COMMA,
pre[class*="language-python"] .Token.COLON {
    color: #C1CCCC;
}

pre[class*="language-python"] .Token.UnaryOp,
pre[class*="language-python"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-python"] .Token.STR {
    color: #CE9178;
}

pre[class*="language-python"] .Token.COMMENT {
    color: #6A9955;
}


pre[class*="language-python"] .Token.IF,
pre[class*="language-python"] .Token.ELSE,
pre[class*="language-python"] .Token.FOR,
pre[class*="language-python"] .Token.WHILE,
pre[class*="language-python"] .Token.ELIF,
pre[class*="language-python"] .Token.ASYNC,
pre[class*="language-python"] .Token.AWAIT,
pre[class*="language-python"] .Token.SOFT_CASE,
pre[class*="language-python"] .Token.SOFT_MATCH,
pre[class*="language-python"] .Token.SOFT_TYPE,
pre[class*="language-python"] .Token.RETURN,
pre[class*="language-python"] .Token.BREAK,
pre[class*="language-python"] .Token.IN,
pre[class*="language-python"] .Token.FROM,
pre[class*="language-python"] .Token.IMPORT,
pre[class*="language-python"] .Token.CONTINUE,
pre[class*="language-python"] .Token.TRY,
pre[class*="language-python"] .Token.EXCEPT,
pre[class*="language-python"] .Token.AS,
pre[class*="language-python"] .Token.PASS,
pre[class*="language-python"] .Token.DEL,
pre[class*="language-python"] .Token.FINALLY,
pre[class*="language-python"] .Token.ASSERT,
pre[class*="language-python"] .Token.WITH,
pre[class*="language-python"] .Token.RAISE,
pre[class*="language-python"] .Token.YIELD {
    color: #C586C0;
}

pre[class*="language-python"] .Token.NONE,
pre[class*="language-python"] .Token.IS,
pre[class*="language-python"] .Token.TRUE,
pre[class*="language-python"] .Token.FALSE,
pre[class*="language-python"] .Token.NOT,
pre[class*="language-python"] .Token.AND,
pre[class*="language-python"] .Token.GLOBAL,
pre[class*="language-python"] .Token.LAMBDA,
pre[class*="language-python"] .Token.NONLOCAL,
pre[class*="language-python"] .Token.OR {
    color: #569cd6;
}

pre[class*="language-python"] .Token.CLASS,
pre[class*="language-python"] .Token.DEF {
    color: #569cd6;
}

pre[class*="language-python"] .Token.ClassName,
pre[class*="language-python"] .Token.ClassInstantiation,
pre[class*="language-python"] .Token.FunctionArgType,
pre[class*="language-python"] .Token.FunctionReturnType,
pre[class*="language-python"] .Token.ImportLibName,
pre[class*="language-python"] .Token.Typedefine {
    color: #4EC9B0;
}

pre[class*="language-python"] .Token.FunctionName,
pre[class*="language-python"] .Token.FunctionCall,
pre[class*="language-python"] .Token.ImportLibFunction {
    color: #DCDCAA;
}

pre[class*="language-python"] .Token.FunctionArgName {
    color: #88D6FE;
    font-style: italic;
}

pre[class*="language-python"] .Token.STR.Format {
    color: #CE9178;
}

pre[class*="language-python"] .Token.INT,
pre[class*="language-python"] .Token.STRR,
pre[class*="language-python"] .Token.BOOL,
pre[class*="language-python"] .Token.SUPER {
    color: #4EC9B0;
}

pre[class*="language-python"] .Token.EnumID {
    color: #4FC1FF;
}
pre[class*="language-shell"] {
    background: #0b0b0b;
}

pre[class*="language-shell"] .Token {
    color: #C1CCCC;
}

pre[class*="language-shell"] .Token.BraceDepth-0 {
    color: #C1CCCC;
}

pre[class*="language-shell"] .Token.BraceDepth-1 {
    color: #C1CCCC;
}

pre[class*="language-shell"] .Token.BraceDepth-2 {
    color: #C1CCCC;
}

pre[class*="language-shell"] .Token.HighlightLine,
pre[class*="language-shell"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-shell"] .Token.Program,
pre[class*="language-shell"] .Token.Function,
pre[class*="language-shell"] .Token.BACK_SLASH {
    color: #DCDCAA;
}


pre[class*="language-shell"] .Token.STRING {
    color: #CE9178;
}

pre[class*="language-shell"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-shell"] .Token.COMMENT {
    color: #6A9955;
}

pre[class*="language-shell"] .Token.Keyword {
    color: #C586C0;
}

pre[class*="language-shell"] .Token.Variant {
    color: #88D6FE;
}

pre[class*="language-shell"] .Token.OPTION {
    color: #C1CCCC;
}

pre[class*="language-shell"] .Token.Format {
    color: #88D6FE;
}

pre[class*="language-shell"] .Token.Control {
    color: --control;
}

pre[class*="language-shell"] .Token.Url {
    border-bottom: 1px solid #C1CCCC;
}

pre[class*="language-shell"] .Token.IpAddress {
    color: #A2CEA8;
    border-bottom: 1px solid #C1CCCC;
}

pre[class*="language-shell"] .Token.HOST_NAME {
    color: #4EC9B0;
}

pre[class*="language-shell"] .Token.DIR_PATH {
    color: #569cd6;
}
pre[class*="language-shell"] .Token.HOST_NAME {
    color: #00c867;
}
pre[class*="language-toml"] {
    background: #0b0b0b;
}

pre[class*="language-toml"] .Token {
    color: #C1CCCC;
}

pre[class*="language-toml"] .Token.String {
    color: #CE9178;
}

pre[class*="language-toml"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-toml"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-toml"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-toml"] .Token.HighlightLine,
pre[class*="language-toml"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-toml"] .Token.NUMBER {
    color: #A2CEA8;
}


pre[class*="language-toml"] .Token.Path {
    color: #569cd6;
}

pre[class*="language-toml"] .Token.TableArrayHeader.Path,
pre[class*="language-toml"] .Token.TableHeader.Path {
    color: #88D6FE;
}

pre[class*="language-toml"] .Token.Date {
    color: #A2CEA8;
}

pre[class*="language-toml"] .Token.COMMENT {
    color: #6A9955;
}
pre[class*="language-toml"] .Token.Keyword {
    color: #327ED0;
}
pre[class*="language-txt"] {
    background: #0b0b0b;
}

pre[class*="language-txt"] .Token {
    color: #C1CCCC;
}

pre[class*="language-txt"] .Token.ID {
    color: #C1CCCC;
}

/* pre[class*="language-txt"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-txt"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-txt"] .Token.BraceDepth-2 {
    color: #1A9DFF;
} */

pre[class*="language-txt"] .Token.HighlightLine,
pre[class*="language-txt"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-txt"] .Token.NUMBER {
    color: #A2CEA8;
}

/* pre[class*="language-txt"] .Token.YES,
pre[class*="language-txt"] .Token.OK {
    color: #16c60c;
}

pre[class*="language-txt"] .Token.NO,
pre[class*="language-txt"] .Token.FAIL {
    color: #e74856;
} */
pre[class*="language-yaml"] {
    background: #0b0b0b;
}

pre[class*="language-yaml"] .Token {
    color: #C1CCCC;
}

pre[class*="language-yaml"] .Token.String {
    color: #CE9178;
}

pre[class*="language-yaml"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-yaml"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-yaml"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-yaml"] .Token.HighlightLine,
pre[class*="language-yaml"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-yaml"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-yaml"] .Token.COMMENT {
    color: #6A9955;
}

pre[class*="language-yaml"] .Token.ID {
    color: #CE9178;
}

pre[class*="language-yaml"] .Token.Key {
    color: #569cd6;
}

pre[class*="language-yaml"] .Token.PIPE {
    color: #C586C0;
}

pre[class*="language-yaml"] .Token.DOLLAR {
    color: #88D6FE;
}

pre[class*="language-yaml"] .Token.STR {
    color: #CE9178;
}

pre[class*="language-yaml"] .Token.Url {
    border-bottom: 1px solid #CE9178;
}

pre[class*="language-yaml"] .Token.TRUE,
pre[class*="language-yaml"] .Token.FALSE,
pre[class*="language-yaml"] .Token.STRING,
pre[class*="language-yaml"] .Token.INT,
pre[class*="language-yaml"] .Token.BOOL,
pre[class*="language-yaml"] .Token.INHERIT,
pre[class*="language-yaml"] .Token.NULL,
pre[class*="language-yaml"] .Token.BANG {
    color: #569cd6;
}

pre[class*="language-yaml"] .Token.STAR,
pre[class*="language-yaml"] .Token.AMPERSAND,
pre[class*="language-yaml"] .Token.MAP {
    color: #C586C0;
}

pre[class*="language-yaml"] .Token.Anchor {
    color: #4EC9B0;
}

pre[class*="language-yaml"] .Token.Alias {
    color: #88D6FE;
}

pre[class*="language-yaml"] .Token.TIME {
    color: #A2CEA8;
}

pre[class*="language-yaml"] .Token.Env-var {
    color: #88D6FE;
}